@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap');

:root {
    --clr-primary-400: hsl(219, 29%, 14%);
    --clr-primary-300: hsl(217, 19%, 35%);
    --clr-primary-200: hsl(263, 55%, 52%);
    --clr-primary-210: hsl(263, 55%, 65%);
    --clr-primary-100: hsl(0, 0%, 100%);

    --clr-neutral-300: hsl(0, 0%, 81%);
    --clr-neutral-200: hsl(210, 46%, 95%);

    --ff-base: 'Barlow Semi Condensed', sans-serif;

    --fw-bold: 600;
    --fw-regular: 500;
}

/**********************
  Reset style sheet ***
***********************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

ul,
li {
    list-style: none;
}

/*
  9. Create a root stacking context
#root,
#__next {
    isolation: isolate;
}
*/

/**********************
  CSS main styles   ***
***********************/

.sr-only {
    position: absolute;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 0.875rem;
    background-color: var(--clr-neutral-200);

    display: grid;
    place-content: auto;
}

.cards {
    --content-spacing: 1.2rem;

    display: grid;
    margin: 0 auto;
    padding: 3rem 1.1rem;
    background-color: var(--clr-neutral-200);
    max-width: 90em;
    gap: 1.5rem;
}

.card {
    display: grid;
    padding: 1.2rem;
    border-radius: 0.5rem;
    overflow: hidden;
    gap: 1rem;
    background-color: var(--clr-primary-100);
}

.flex-group{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-group img{
    border-radius: 50%;
    width: 2.75rem;
    
}

.name {
    font-size: 1.1rem;
    font-weight: var(--fw-bold);
    line-height: 1.2rem;
    color: var(--clr-primary-100);
}

.name span{
    font-size: 0.95rem;
    opacity: 50%;
}

.card h2 {
    font-size: 1.4rem;
    line-height: 1.75rem;
    color: var(--clr-neutral-200);
}

.quotations {
    font-size: 1rem;
    color: var(--clr-neutral-200);
    font-weight: var(--fw-bold);
    opacity: 70%;
}

.purple__card {
    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 85% 00;
    background-color: var(--clr-primary-200);
}

.purple__card img{
    border: 3px solid var(--clr-primary-210);
}

.grey-card {
    background-color: var(--clr-primary-300);
}


.light__card p{
    color: var(--clr-primary-300);
}

.light__card h2{
    color: var(--clr-primary-300);
}

.dark-blue__card {
    background-color: var(--clr-primary-400);
}

@media (min-width:47em) {

    .cards {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:  1fr;
        grid-template-areas: 
            'a a b e'
            'c d d e'
                    ;
    }

    .cards> :nth-child(1) {
        grid-area: a;
    }

    .cards> :nth-child(2) {
        grid-area: b;
    }

    .cards> :nth-child(3) {
        grid-area: c;
    }

    .cards> :nth-child(4) {
        grid-area: d;
    }

    .cards> :nth-child(5) {
        grid-area: e;
    }
   
}